@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #222;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #000; 
}

::selection {
    background-color: #000;
    color: #fff;
}

img {
  user-select: none;
}

li, ul, Link, a {
  user-select: none;
}